html {
    scroll-behavior: smooth;
}
.page {
    overflow: hidden;
    background: rgb(255, 255, 255) url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html,
body {
    height: 100% ;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

main {
    flex: 1 1 auto;
}

*,
:before,
:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0px;
}

.p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}



/* Page */

/* Header */

.header {
    background: white;
}

.header-box {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header-logo {
    font-size: 1.6rem;
    font-weight: 700;
}

.header-logo-name {
    text-decoration: none;  
    color: black;
}

.header-nav img {
    display: inline-block;
}

.header-nav-item {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin-left: 2.5rem;
    transition: color 0.2s linear;
}

.header-nav-item:hover {
    color: #b7fd4d;

}

.header-nav-item.active:hover {
    color: black;
    
}

.header-nav {
    display: flex;
}

.header-nav-item {
    overflow: hidden;
    padding-bottom: 5px;
}


.header-nav-item.a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.header-nav-item.active {
    border-bottom: 3px solid rgba(0, 0, 0, 0.767);
}

.header-subbox {
    position: relative;
    margin-top: 10px;
}

.header-subbox img {
   width: 100%;
}

.header-subbox-title {
    font-size: 60px;
    margin-top: 190px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    position:absolute;
    left: 500px;
    top: 0;
    color: white;
    letter-spacing: 8px;
}

.header-subbox-subtitle {
    margin-top: 280px;
    color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
    left: 690px;
    top: 0px;
    position: absolute;
}

.header-subbox-item-first {
    position: absolute;
    left: 750px;
    bottom: 200px;
    color: rgba(255, 255, 255, 0.95);
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 3px;
}

.header-subbox-item-first:hover {
    background-color: rgba(255, 255, 255, 0.5);

}

.header-subbox-item-second {
    position: absolute;
    left: 950px;
    bottom: 200px;
    color: rgba(255, 255, 255, 0.95);
    font-size: 20px;
     border: 2px solid greenyellow;
    padding: 20px;
    border-radius: 3px;
}

.header-subbox-item-second:hover {
    background-color: rgba(154, 205, 50, 0.5);
}

.search-icon {

}


/* Content */

.about-us {
    font-size: 30px;
    margin-top: 125px;
    text-align: center;

}

.about-us-info {
    color: #212121;

    margin-top: 40px;
    font-size: 19px;
    text-align: center;
}


/* а */

footer {
    margin-top: auto;
    padding: 25px;
  
}

.footer-text {
    margin-left: 93px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
}


.contacts {
    display: flex;
    justify-content: center;
    margin-top: auto;

}

.contacts-item {
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    margin-right: 30px;

}

.contacts-item:last-child {
    margin-right: 0;
    position: relative;

}

.contacts-item:first-child {

    position: relative;
}

.contacts-item:last-child:after {
    position: absolute;
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    pointer-events: none;
    background-color: black;
    left: 100%;
    top: 15px;
    margin-left: 20px;
}

.contacts-item:first-child:before {
    position: absolute;
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    pointer-events: none;
    background-color: black;
    right: 100%;
    top: 15px;
    margin-right: 20px;

}

.contacts-item:hover {
    text-decoration: underline;
}

.contacts-icon {
    margin-right: 5px;
}

/* Books */

.mnn1 {
    position: relative;
    font-size: 17px;
}

.mnn2 {
    font-size: 17px;
}

.first-book {
    text-decoration: none;

}

.first-book-title {
    margin-top: 60px;
    margin-bottom: 25px;

    font-size: 30px;
    font-weight: 600;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.first-book-title:hover {
    transition: color 0.2s linear;
    color: #9ad345;
}

.mnn1-img {
    height: 385px;
    width: auto;
}

.mnn1-items {

}

.mnn1-items-bold {
    font-weight: 700;
}

.mnn1-info {
    margin-top: 35px;
    line-height: 1.8;
}

.mnn1-download {
    font-size: 18px;
    text-decoration: none;
    color: #0e73ff;
}

.mnn1-download:hover {
    text-decoration: underline;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
    margin: 45px 0;
    width: 105%;

}
/* Kanji-Guide */

.kanji-guide-title {
    margin-top: 65px;
    margin-bottom: 30px;
    font-weight: 600;
}

.kanji-guide-info {
    
    
    
    font-size: 20px;
    line-height: 1.8;
}

.kanji-guide-poster {
    width: 800px;
}

.content {
    width: 740px;

}

/*Blog*/

.blog-poster {
    width: 1170px;
    height: 467px;
    margin-top: 10px;
    margin-bottom: 39px;
    background-color:#FBFBFB;
    position: relative;
    border-radius: 4px;
}

.blog-poster-icon {
    width: 70px;
    height: 68px;
    position: absolute;
    left: 28%;
    right: 65.92%;
    top: 43.23%;
    bottom: 38.42%;
    transform: rotate(-23.28deg);
}

.block-poster-cover {
    width: 476px;
    height: 323px;
    position: absolute;
    left: 50.61%;
    right: 8.07%;
    top: 14.99%;
    bottom: 15.85%;
}

.blog-poster-title {
    position: absolute;
    left: 11.02%;
    right: 58.25%;
    top: 28.05%;
    bottom: 40.69%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
}

.blog-poster-subtitle {
    position: absolute;
    left: 11.02%;
    right: 60.5%;
    top: 63.38%;
    bottom: 28.91%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
 }

.articles-preview {
    display: flex;
    height: 243px;
    width: 966px;
    margin: 0 93px 42px 93px;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #00000011;
    font-family: 'Inter';
    
}

.articles-preview-title {
    position: absolute;
    left: 5.62%;
    right: 68.89%;
    top: 16.87%;
    bottom: 68.31%;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    color: #2D3748;
}

.articles-preview-date {
    position: absolute;
    left: 5.62%;
    right: 84.81%;
    top: 76.13%;
    bottom: 17.7%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}

.articles-preview-readmore {
    position: absolute;
    left: 40.58%;
    right: 52.86%;
    top: 76.13%;
    bottom: 17.7%;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.articles-preview-text {
    position: absolute;
    left: 5.41%;
    right: 52.86%;
    top: 42.8%;
    bottom: 36.21%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.preview-poster-active {
    width: 433px;
    height: 243px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 55.15%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.preview-poster-static {
    width: 433px;
    height: 243px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 55.15%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position:absolute;
    background: white;
}

.preview-poster-static:hover {
    opacity:0;
  }



.articles-box {
    width: 966px;
    height: 332px;
    margin-bottom: 111px;
    margin-left: 93px;
    display: flex;
    justify-content: space-between;
    
   
    
}

.kanji-article {
    overflow: hidden;
    height: 400px;
    width: 300px;
    box-shadow: 0 1px 4px 1px #00000011;
    border-radius: 2px;
}

.kanji-article-title {
   margin-left: 16px;
    margin-top: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
}

.kanji-article-poster {
    width: 300px;
    height: 179px;

}

.kanji-article-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.kanji-article-text-pos {
    margin: 15px 25px 22px 17px;
    
}

.kanji-article-date {
   display: inline-flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
    margin: 0 0 20px 16px;

}


.kanji-article-readmore {
   display: inline-flex;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #2D3748;
    margin-left: 60px;
    margin: 0 0 20px 141px;
}

.books-article {
   
    height: 382px;
    width: 300px;
}

.podcasts-article {
  
    height: 382px;
    width: 300px;

}